html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.image { /* 3300 x 2550 */
    position: relative;
    width: 3300px;
    height: 2550px;
    transform: scale(0.06) scaleY(0.5) skewX(16deg) rotate(-37deg);
    box-shadow: -552px 442px 179px 25px rgba(0, 0, 0, 0.5);
    margin: -1254px -1512px;
}

.title {
    color: blue;
    width: 175px;
}