html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
  padding: 1px;
}

#main-container {
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

#table-container {
  border: solid 1px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

.table-row-container {
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: space-around;
}

.table-cells-container {
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

.table-cell {
  flex-grow: 1;
  border: solid 1px;
  padding: 5px;
  margin: 3px;
  min-width: 50px;
  display: flex;
  align-items: center;
}

.next-cell {
  background-color: #ffff70
}

.current-cell {
  background-color: #70ff70
}

.end-cell {
  background-color: #ff7070
}